<ul>
	<% @projects.each do |project| %>
	<li><%= link_to(project.name, project_entries_path(project)) %>
		<% if project.description.present? %>
		- <%= project.description %>
		<% end %>
	</li>
	<% end %>
</ul>	

<%# @projects.each do |project| %>
<%# if project.description.present? %>
<%#=project.description %>
<%# end %>
<%# end %>